$primary-color: #673ab7;
$primary-light-color: #9a67ea;
$primary-dark-color: #320b86;
$secondary-color: #ffd740;
$secondary-light-color: #ffff74;
$secondary-dark-color: #c8a600;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$text-color: #000000;
$background-color: #FAFAFA;
$cards-dialogs-color: #FFFFFF;
$border-color: #666666;
$border-hover-color: $text-color;
$border-focus-color: $secondary-color;
$border-error-color: #ff0000;
